<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>开始使用layui</title>
  <link rel="stylesheet" href="static/layui/css/layui.css">
	<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery
/jquery-1.4.min.js"></script>
<!--   <script type="text/javascript" src="static/myindex.js"></script>
 -->  <script src="static/layui/layui.js"></script>
  <script src="static/index.js"></script>
</head>



<body>

<!-- 你的HTML代码 -->
 


<div id="hello">Hello</div>

<button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>上传文件</button>

<table class="layui-hide" id="test" lay-filter="test"></table>



  <div class="layui-row">
    <div class="layui-col-xs6">
      <div class="grid-demo grid-demo-bg1">apk截图区域</div>
      <div id="screencaps">this is screencaps</div>
    </div>
    <div class="layui-col-xs6">
	  <div class="grid-demo">milvus检索关联区域</div>
	    <div id="searchs">this is milvus result</div>

    </div>
  </div>


 <script type="text/javascript">

document.getElementById("hello").onclick = function(){
	console.log("helloclic");
}

 layui.use('table', function(){
  var table = layui.table;
  
  table.render({
    elem: '#test'
    ,url:'/getdata'
    ,limit: 10
    ,cols: [[ //表头
      {field: 'sha1', title: 'sha1', width:200}
      ,{field: 'pkg', title: '包名', width:200, sort: true}
      ,{field: 'cert', title: '证书', width:200}
      ,{field: 'dn', title: 'dn', width: 100, sort: true}
      ,{field: 'vername', title: '版本', width: 100, sort: true}
      ,{field: 'appname', title: '应用名称', width: 100}
      ,{field: 'add_time', title: '记录时间', width: 135, sort: true}
    ]]
    ,page: true
  });
  
  //监听行单击事件（双击事件为：rowDouble）
  table.on('row(test)', function(obj){
  	// location.reload();

  	// window.location.href="https://www.baidu.com"
    var data = obj.data;
    var sha1 = data["sha1"];
    console.log(data["sha1"]);
    console.log("/apk/screencaps?"+data["sha1"]);
    console.log(JSON.stringify(data));
    getApkScreencaps(sha1);//ajax 请求获取应用截图
    
    // layer.alert(JSON.stringify(data), {
    //   title: '当前行数据：'
    // });
    
    // //标注选中样式
    // obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
  });
  
});

function ajaxGet(url, callback){
	var xmlhttp;
	if (window.XMLHttpRequest)
	{
	    //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
	    xmlhttp=new XMLHttpRequest();
	}
	else
	{
	    // IE6, IE5 浏览器执行代码
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
		xmlhttp.onreadystatechange=function()
	{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{	
			var result =  xmlhttp.responseText;
			callback(result);
		}
	}
	xmlhttp.open("get", url, true);
	xmlhttp.send();
}



function getApkScreencaps(sha1)
{
	ajaxGet("/apk/screencaps?sha1="+sha1, function(result){
			console.log(result)
			var retobj = JSON.parse(result);
			// console.log(retobj["data"]);



			//screencaps下填充apk截图元素
			$("#screencaps").empty();
			for(var i=0;i<retobj["data"].length;i++){
				var img=document.createElement("img");
				var picname = retobj["data"][i].split("/")[4];	//e5308dc740eebd3758c0f36e7968946d1fe37e44_9.png
				console.log("ppppp:",picname)
				img.src=retobj["data"][i];
				img.height = "400";
				img.width = "200";
				img.className = "screencap"
				// img.addEventListener("click", function(){
				// 	console.log("screencap click")
				// 	clickScreencap(picname)
				// });
				document.getElementById("screencaps").appendChild(img);
			}
			$(".screencap").click(function(){
				var src  = $(this).attr("src");
				console.log("sssss",src);
				clickScreencap(src.split("/")[4]);

			});

	});

}

function clickScreencap(picname){
	console.log("hhhhhhhh:", picname)
	ajaxGet("/apk/screencaps/search?picname="+picname, function(result){
			console.log(result)
			var retobj = JSON.parse(result);
			var data = retobj["data"]

			//div searchs下填充milvus关联的图片
			$("#searchs").empty();
			for(var i=0;i<data.length;i++){
				var picurl =  data[i][0];
				var distance = data[i][1];
				var img=document.createElement("img");
				var p=document.createElement("p");
				var div=document.createElement("div");

				p.innerHTML=distance
				img.src=picurl;
				img.height = "500";
				img.width = "300";
				// img.addEventListener("mouseover", function(){
				// 	console.log("screencap click")
				// 	clickScreencap(picname)
				// });
				div.appendChild(img);
				div.appendChild(p);
				document.getElementById("searchs").appendChild(div);
				console.log(data[i])
			}
	})

}


function clear_screencaps(){
	var parent = document.getElementById("screencaps");
	for(var i=0;i<parent.childNodes.length;i++){
		parent.removeChild(i)
	}

}

function milvussearch(picname){

}

</script>
</body>
</html>